@import '../../../styles/settings.scss';

.singleProductWrapper {
  min-height: 400px;
  max-height: 600px;
  padding: 40px 0;

  .singleProductPhotoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $product-wrapper-background;
    padding: 30px;

    .singleProductPhoto {
      width: 70%;
      height: auto;
    }
  }

  .singleProductDescriptionWrapper {

    .singleProductInfoName, .singleProductInfoPrice {
      margin: 0 0 $base-size * 0.8;
    }

    .singleProductInfoName {
      font-size: $base-size * 1.2;
    }

    .singleProductInfoPrice {
      font-size: $base-size;
    }

    .singleProductInfoDescription {
      font-size: $base-size;
      margin: 0 0 $base-size * 1.2;
    }
  }

  .singleProductAddToBasket {
    padding: 8px 40px;
    font-size: $base-size;
    border-radius: 0;
  }
}
